{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h1 class="h3 mb-0">Inscription</h1>
                </div>
                <div class="card-body">
                    {{ form_start(registrationForm) }}
                        <div class="mb-3">
                            {{ form_row(registrationForm.firstName) }}
                        </div>
                        
                        <div class="mb-3">
                            {{ form_row(registrationForm.lastName) }}
                        </div>
                        
                        <div class="mb-3">
                            {{ form_row(registrationForm.email) }}
                        </div>
                        
                        <div class="mb-3">
                            {{ form_row(registrationForm.plainPassword.first) }}
                        </div>
                        
                        <div class="mb-3">
                            {{ form_row(registrationForm.plainPassword.second) }}
                        </div>
                        
                        <div class="mb-3 form-check">
                            {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
                            {{ form_label(registrationForm.agreeTerms, null, {'label_attr': {'class': 'form-check-label'}}) }}
                        </div>

                        <button type="submit" class="btn btn-primary w-100">S'inscrire</button>
                    {{ form_end(registrationForm) }}
                    
                    <div class="mt-3 text-center">
                        <p>Déjà inscrit ? <a href="{{ path('app_login') }}">Connectez-vous</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}